@charset "ISO-8859-1";

.carousel-item {
  height: 675px; /* Change this value to your desired height */
  min-height: 650px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


